apiVersion: v1
kind: Service
metadata:
  name: grwthy-api
  labels:
    app: grwthy-api
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: grwthy-api
