apiVersion: v1
kind: Service
metadata:
  name: grwthy-web
  labels:
    app: grwthy-web
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 3001
      protocol: TCP
  selector:
    app: grwthy-web
